.component {
  display          : flex;
  font-size        : 21px;
  text-align       : center;
  align-items      : center;
  justify-content  : center;
  height           : calc(100vh - 55px - 144px);
}
