@import './variables.scss';

.pagination {
  min-width: 301px;
  li {
    a {
      margin: 0 5px;
      color: #bcbcbc;
      border-style: none;

      &:hover {
        border-radius: 16px;
        border: 0px #eee solid;
      }

      .glyphicon {
        color: #bcbcbc;
      }
      @media (max-width: 672px) {
        padding: 2px 8px;
      }
      @media (max-width: 400px) {
        padding: 1px 6px;
      }
    }
  }
  .active {
    a {
      @include paginationcolor();
      border-radius: 16px;
      border: 0px #000 solid;
      @media (max-width: 672px) {
        padding: 2px 8px;
      }
      @media (max-width: 400px) {
        padding: 1px 6px;
      }
    }
  }
}
