@import '../../styles/variables.scss';
@import '../../scss/mixins.scss';

$responsiveHeight: 7vh !default;

.component {
  background-color : #018FB3;
  width            : 100%;
  padding-right    : 4rem;
  padding-left     : 4rem;
  padding-top      : 1rem;
  bottom           : 0;
  z-index          : 5000;

  @include sm {
    padding  : 0;
    position : fixed;
    height   : $responsiveHeight;
    width    : 100vw;
    bottom   : 0;
    z-index  : 1002;
    }
  }

.footerInfo {
  margin        : 10px 0 40px 0;

  @include sm {
    display : none;
    margin  : 0;
    }
  }

.footerLegal {
  display: flex;
  justify-content: space-between;

  > span {
    visibility: hidden;
  }

  @include sm {
    display : none;
    }
  }

.footerBlock {
  @include sm {
    display : none;
    }
  }

.footerNavigation {
  display         : none;
  height          : 100%;
  align-items     : center;
  //justify-content : center;

  @include sm {
    display : flex;
    }
  }

.footerNavButton {
  display         : flex;
  flex-direction  : column;
  //justify-content : center;
  align-items     : center;
  margin-left     : 15px;
  margin-right    : 15px;
  width           : 100px;
  }

.navButtonLabel {
  color          : white;
  font-size      : 16px;
  text-transform : capitalize;
  }

.navButtonIcon {
  width  : 30px !important;
  height : 30px !important;
  fill   : white !important;
  }

.footerLink {
  text-decoration : none;
  color           : white;
  font-size       : 0.8rem;
  margin-right    : 15px;

  &:visited {
    color : white;
    }
  }
