@import '../../scss/mixins.scss';

.component {
  margin-top         : 30px;
  background-color   : #f4f5f7;
  border-radius      : 4px;
}

.asterisk {
  order: 1;
  width          : 20px;
  display        : inline-flex;
  padding-left   : 6px;
  vertical-align : super;
  font-size      : 20px;
  color          : #ff4646;
  background     : #f4f5f7;
}

.input {
  order: 2;
  border-right   : solid 1px #f4f5f7;
  border-left    : solid 1px #f4f5f7;
  font-size      : 21px;
  outline        : none;
  box-sizing     : border-box;
  margin         : 4px 0 0 0;
  flex           : 10;
  background     : #f4f5f7;
  padding-bottom: 4px;

  @include sm {
    font-size    : 13px;
  }
}

.arrowIcon {
  order: 3;
  margin-left    : auto;
  cursor         : pointer;
  width          : 30px;
  vertical-align : sub;
  background     : #f4f5f7;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  color: #333333;
}

.dropDownList {
  border-top         : solid 5px #fff;
  border-radius      : 4px;
  //width              : calc(100% - 21px);
  //position           : fixed;
  background-color   : #ffffff;
  box-shadow         : 0 6px 6px 0 rgba(0, 0, 0, 0.12);
  list-style         : none;
  padding-bottom     : 10px;
  padding-top        : 4px;
  padding-left       : 0;
}

.dropDownItem {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #5a5a5a;
  padding-left: 22px;
  cursor: pointer;
  &:hover{
    background-color: #f4f5f7;
  }
}

.dropDown {
  display: flex;
  padding-top        : 8px;
  padding-bottom     : 8px;
}
